.social-container {
  height: 100%;
  background:#fffbf0;
  @include flexbox();
  @include flex-direction(column);
  > * {
    width: 100%;
    color:#666;
  }
  header{
    background:#fff;
    text-align:center;
    height:40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 0.5px solid #ebebeb;
  }
  nav {
    height: 0.35rem;
    background:#fff;
    // margin-bottom:4px;
    border-bottom: 0.5px solid #ebebeb;
    ul {
      width: 100%;
      margin:0 auto;
      height: 100%;
      @include flexbox();
      li {
        @include flex();
        font-size: 0.14rem;
        text-align: center;
        line-height: 0.30rem;
        color:#aeaeae;
        &.active {
          border-bottom: solid 0.02rem $baseColor;
          color:   $baseColor;
        }
      }
    }
  }
  >section{
    @include flex();
    overflow: scroll;
    width:100%;
    .swiper-container{
      height:100%;
      .swiper-wrapper{
        height:100%;
        .swiper-slide{
          height:auto;
          overflow: scroll;
          background:url("/images/show_goods_null.png") no-repeat center center;
          >li{
            width:100%;
            background:#fff;
            border-top: 6px solid #fffbf0;
            @include flexbox();
            @include flex-wrap(wrap);
            .socialUser{
              color: #000;
              padding:8px;
              width:75%;
            }
            >span{
              width: 25%;
              font-size: 12px;
              padding:10px 10px 0 0;
              color:#aeaeae;
              text-align: right;
              display: block;
            }
            .socialJingxuan{
              font-size:12px;
              color:$baseColor;
              padding:0  0 6px 25px;
              background: url('/images/icon_star_fill.png') no-repeat 8px 1px;
              background-size: 13px;
              width:100%;
            }
            .zhanshi{
              width:100%;
              height:256px;
            }
            .socialContent{
              width:90%;
              margin:0 auto;
              padding:10px 0;
              font-size:12px;
              border-bottom:.5px solid #ebebeb;
            }
            .socialProduct{
              width:100%;
              padding:10px 20px;
              @include flexbox();
              border-bottom: 0.5px solid #ebebeb;
              margin-bottom: 16px;
              img{
                width:50px;
                height:50px;
              }
              span{
                display: block;
                @include flex();
                font-size: 12px;
                padding:6px;
              }
            }
          }
        }
      }
    }
  }
}
