div.details-container {
    height: 100%;
    @include box-sizing();
    @include flexbox();
    @include flex-direction(column);

    header {
        height: 50px;
        width: 100%;
        background: #fff;
        @include border(0 0 1px 0,#e1e1e1);
        @include flexbox();
        @include flex-direction(row);

        ul {
            width: 100%;
            height: 100%;
            @include flexbox();

            li {
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                height: 100%;

                &:not(:nth-child(2)) {
                    width: 50px;
                    height: 50px;
                    font-size: 26px;
                    color: #888;
                }

                &:nth-child(2) {
                    @include flex(1);
                    font-size: 20px;
                    color: #333;
                }
            }
        }
    }

    section {
        @include flex(1);
        width: 100%;
        overflow: hidden;
        position: relative;

        div.shadow {
            display: none;

            div.disnone {
                display: none;
            }
        }

        div.active {
            display: block;
            width: 100%;
            height: 100%;
            @include fullscreen(22);
            background: rgba(0,0,0,0.3);

            div.disblock {
                display: block;
            }

            div.plane {
                width: 100%;
                background: #fff;
                position: fixed;
                left: 0;
                bottom: 35px;

                .property-wrap {
                    background: #f5f5f5;
                    padding: 15px 10px;
                    width: 100%;

                    .property-wrap-img {
                        border: #bababa 1px solid;
                        float: left;
                        width: 50px;
                        margin-right: 10px;

                        img {
                            width: 48px;
                            height: 48px;
                        }
                    }

                    .property-wrap-righ {
                        width: 100%;
                        height: 60px;

                        .price {
                            display: inline-block;
                            color: #e81818;
                            font-size: 18px;
                            line-height: 18px;
                            font-weight: 700;
                        }

                        .property-wrap-top-righ-select {
                            padding-right: 2%;
                            color: #666;
                            font-size: 14px;
                            line-height: 18px;
                            margin-top: 3px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            word-wrap: break-word;
                        }
                    }

                    .property-wrap-select {
                        @include clearfix();
                        width: 100%;
                        overflow-y: auto;
                        padding: 0 10px;
                        border-top: #dcdcdc 1px solid;
                        border-bottom: #dcdcdc 1px solid;
                        max-height: 250px;

                        .property-wrap-select-every {
                            width: 100%;
                            height: 100%;

                            .property-wrap-select-tit {
                                padding: 10px 0 5px;
                                font-size: 14px;
                                font-weight: normal;
                            }

                            .property-wrap-select-list {
                                padding: 5px 0 10px;
                                border-bottom: #dcdcdc 1px solid;

                                .select-element {
                                    padding: 6px 10px;
                                    border: #c4c4c4 1px solid;
                                    background: #fff;
                                    border-radius: 4px;
                                    color: #666;
                                    margin-right: 3px;
                                    margin-bottom: 5px;
                                    font-size: 14px;
                                }
                                .selected{
                                  color: #ffffff;
                                  border: #f85b90 1px solid;
                                  background: #f85b90;
                                }
                            }
                        }

                        .stuff-num {
                            padding: 10px 0;

                            .num {
                                border: 1px solid #d2d2d2;
                                border-radius: 3px;
                                height: 40px;
                                width: 117px;
                                float: right;

                                .add,
                                .sub {
                                    display: block;
                                    font-weight: 700;
                                    height: 38px;
                                    line-height: 38px;
                                    text-align: center;
                                    width: 35px;
                                    font-size: 14px;
                                    border-right: 1px solid #d2d2d2;
                                    color: #666666;
                                    float: left;
                                }

                                .in {
                                    border: none;
                                    box-shadow: 1px 1px 5px 1px #f1f1f1 inset;
                                    color: #333;
                                    height: 38px;
                                    line-height: 38px;
                                    text-align: center;
                                    width: 43px;
                                    font-size: 1.5em;
                                    float: left;
                                }

                                .add {
                                    border: none;
                                    border-left: 1px solid #d2d2d2;
                                }
                            }
                        }
                    }
                }
            }
        }

        div.holepage {
            height: 100%;
            width: 100%;

            div {
                width: 100%;

                div#image-page {
                    height: 300px;
                    width: 100%;

                    div#wrapper {
                        width: 100%;
                        background: #fff;

                        div {
                            width: 100%;
                            height: 300px;

                            img {
                                width: 100%;
                                height: 300px;
                            }
                        }
                    }

                    span.swiper-pagination-bullet-active {
                        background: #f8711b;
                    }
                }

                div.goods-details {
                    background: #fff;
                    padding: 10px;
                    border-bottom: #e1e1e1 1px solid;

                    div.topline {
                        width: 100%;
                        margin-top: 8px;
                        @include flexbox();
                        @include flex-direction(row);
                        @include align-items(center);
                        @include justify-content(space-between);

                        div.lf {
                            width: 70%;
                            height: 35px;
                            line-height: 35px;

                            .price {
                                font-size: 18px;
                                font-weight: 700;
                                color: #ed145b;
                            }

                            .oldprice {
                                text-decoration: line-through;
                                margin-left: 10px;
                                color: #999;
                                font-size: 14px;
                            }

                            .express {
                                margin-left: 10px;
                                color: #f70000;
                                font-size: 16px;
                            }
                        }

                        div.lr {
                            width: 30%;
                            height: 35px;
                            @include flexbox();
                            @include flex-direction(row);
                            @include align-items(center);
                            @include justify-content(flex-end);

                            div {
                                width: 35px;
                                height: 35px;

                                i {
                                    width: 25px;
                                    height: 25px;
                                    display: block;
                                    margin: 4px auto;

                                    &.love {
                                        background: url("http://cdn04.b5mcdn.com/bhbcdn/wap/img/sc-icon-off.png") no-repeat center;
                                        background-size: 100% auto;
                                    }

                                    &.share {
                                        background: url("http://cdn04.b5mcdn.com/bhbcdn/wap/img/share-icon-off.png") no-repeat center;
                                        background-size: 100% auto;
                                    }
                                }
                            }
                        }
                    }

                    div.goods_detail_tit_wrap {
                        padding: 0 10px;
                        margin-top: 8px;
                        margin-bottom: 10px;

                        img.goods-detail-flag {
                            display: inline;
                            width: 8%;
                            position: relative;
                            top: -2px;
                            max-width: 30px;
                        }

                        h3.goods-detail-tit {
                            display: inline;
                            font-size: 14px;
                            line-height: 14px;
                            font-weight: normal;
                            margin-bottom: 7px;
                            color: #333;
                        }
                    }

                    div.shopname {
                        @include flexbox();
                        @include flex-direction(row);
                        @include align-items(center);
                        @include justify-content(center);

                        div {

                            img {
                                width: 17px;
                                height: 17px;
                                margin-bottom: 2px;
                            }

                            span {
                              padding-left:4px;
                                line-height: 18px;
                                    font-size: 12px;
                                color:#f85b90;
                            }
                            i{
                              // @include flexbox();
                              // @include flex-direction(row);
                              // @include align-items(center);
                              // @include justify-content(flex-end);
                              float:right;
                              padding:0 4px;
                                  font-size: 12px;
                              color:#585757;
                              border:1px solid #ccc;
                              @include border-radius(4px);
                            }
                        }
                    }
                    div.send_desc{
                      padding-top:5px;
                      width:100%;
                      @include ellipsis();
                      color:#999;
                          font-size: 12px;
                    }
                    div.subtitle{
                      margin-top:5px;
                      padding-top:5px;
                          font-size: 12px;
                          color:#999;
                          border-top:1px dashed #e1e1e1;
                    }
                }

                a.select-goods-cat {
                    background: #fff;
                    color: #666;
                    height: 40px;
                    line-height: 40px;
                    display: block;
                    border-top: #e1e1e1 1px solid;
                    border-bottom: #e1e1e1 1px solid;
                    margin-top: 10px;
                    padding: 0 10px;
                    font-size: 12px;
                    position: relative;

                    span {
                        font-size: 14px;
                    }

                    i {
                        position: absolute;
                        right: 10px;
                        bottom: 12px;
                        display: inline-block;
                        content: '';
                        width: 10px;
                        height: 10px;
                        border: #666666 solid;
                        border-width: 1px 1px 0 0;
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        transform: rotate(45deg);
                        margin-right: 0.2em;
                    }
                }

                div.content-tab-box {
                    background: #ffffff;
                    height: 44px;
                    line-height: 43px;
                    border-bottom: #e1e1e1 1px solid;
                    border-top: 1px solid #d8d4d4;
                    margin-top: 10px;
                    overflow: hidden;

                    span {
                        font-size: 16px;
                        color: #999;
                        display: inline-block;
                        width: 49.5%;
                        height: 43px;
                        text-align: center;
                        margin-left: -1px;
                        position: relative;

                        &.content-tab-box-goods {
                            width: 49%;
                            font-weight: 100;
                        }

                        &.cur {
                            color: #f85b90;
                            // @include border(0 0 4px 0,#f85b90);
                            border-bottom: #f85b90 2px solid;

                            i {
                                position: absolute;
                                left: 50%;
                                bottom: 0;
                                margin-left: -3px;
                                display: block;
                                width: 6px;
                                height: 3px;
                                background: url("http://cdn04.b5mcdn.com/bhbcdn/wap/img/icon.png") no-repeat;
                                background-size: 320px auto;
                                -webkit-background-size: 320px auto;
                                background-position: 0 -30px;
                            }
                        }
                    }
                }

                .swiper-container {
                    height: 100%;

                    .swiper-wrapper {
                        height: 100%;

                        .swiper-slide {
                            height: 100%;
                        }
                    }
                }

                div.content-detail {
                    background: #ffffff;
                    padding-bottom: 60px;

                    div.content-detail-wrap {
                        padding: 10px;

                        div.detail-text {
                            color: #999;
                            padding: 5px;
                            line-height: 16px;
                            margin-bottom: 10px;

                            p {
                                font-size: 12px;
                                line-height: 20px;
                            }
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                div.pinglun {
                    font-size: 16px;
                }
            }
        }
    }

    footer {
        @include border(1px 0 0 0,#dbdbdb);
        background: #ffffff;
        width: 100%;
        height: 50px;
        @include flexbox();
        @include flex-direction(row);

        div {
            &:nth-child(3) {
                width: 18%;
                height: 100%;
                position: relative;

                img {
                    width: 30px;
                    height: 25px;
                    position: absolute;
                    /* 相对定位或绝对定位均可 */
                    top: 50%;
                    left: 50%;
                    @include transform( translate(-50%, -50%));
                }
                span{
                  display:none;
                }
                span.havedata{
                    display:block;
                  position:absolute;
                  width:16px;
                  height:16px;
                  color:#fff;
                  background:#ed145b;
                  text-align: center;
                  line-height:16px;
                  font-size:12px;
                  border-radius:10px;
                  left:59%;
                  top:28%;
                  @include transform( translate(-50%, -50%));
                }
            }

            &:not(:nth-child(3)) {
                width: 51%;
                height: 100%;
                color: #fff;
                line-height: 50px;
                text-align: center;
                font-size: 16px;
            }

            &:nth-child(1) {
                background: #ed145b;
            }

            &:nth-child(2) {
                background: #f85b90;
            }
        }
    }
}
