div.my-container {
    height: 100%;

    div.bg {
        width: 100%;
        background: url("/images/user_top_bg.png") no-repeat;
        background-size: 100% auto;

        header {
            height: 42px;
            width: 100%;
            @include flexbox();
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(flex-end);

            div {
                width: 42px;
                height: 42px;
                position: relative;

                i {
                    font-size: 22px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        nav {
            height: 110px;
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(center);

            div {
                cursor: pointer;
                background: #dd1f57;
                text-align: center;
                margin: 10px auto 0;
                border: 1px solid #fff;
                border-radius: 3px;
                width: 40%;
                height: 40px;
                line-height: 40px;
                color: #fff;

                span {
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    font-size:14px;
                    text-align: center;
                    letter-spacing: 1px;
                }
            }
        }
    }

    section {
        width: 100%;
        // background: #fff;
        div.booking {
            width: 100%;
            height: 35px;
            @include flexbox();
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(space-between);

            div {
                width: 50%;
                height: 35px;
                background: #fff;
                border-bottom: 1px solid #e7e7e7;

                &.dingdan p {
                    padding-left: 10px;
                    line-height: 35px;
                    font-size: 14px;

                    > i {
                        color: #f85b90;
                        font-size: 16px;
                    }
                }

                &.alldg {
                    padding-right: 10px;
                    @include flexbox();
                    @include flex-direction(row);
                    @include align-items(center);
                    @include justify-content(flex-end);

                    > span {
                        display: block;
                        height: 35px;
                        line-height: 35px;
                        color: #ccc;
                        font-size: 12px;
                    }
                }
            }
        }

        div.category {
            width: 100%;
            height: 70px;
            background: #fff;

            ul {
                width: 100%;
                height: 100%;
                @include flexbox();
                @include flex-direction(row);
                @include align-items(center);
                @include justify-content(center);

                li {
                    height: 100%;
                    @include box-sizing();
                    @include flex(1);
                    @include flexbox();
                    @include flex-direction(column);
                    @include align-items(center);
                    @include justify-content(center);

                    &:nth-child(2) {
                        border: 0 1px;
                    }

                    i {
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 26px;
                    }

                    b {
                        font-weight: normal;
                        margin-top: 5px;
                        line-height: 20px;
                        font-size: 14px;
                        color: #999;
                    }
                }
            }
        }

        div.youhui {
            margin-top: 10px;
            width: 100%;
            height: 270px;
            background: #fff;
            @include box-sizing();

            ul {
                width: 100%;
                height: 90px;
                @include flexbox();
                @include flex-direction(row);
                @include flex-wrap(wrap);
                @include border(0  0 1px 0,#ccc);
                // @include align-items(center);
                // @include justify-content(center);
                li {
                    height: 100%;
                    @include flexbox();
                    @include flex(1);
                    @include flex-direction(column);
                    // @include align-items(flex-start);
                    // @include justify-content(center);
                    &:nth-child(2){
                        @include border(0 1px 0 1px,#ccc);
                    }
                    div {
                        width: 100%;
                        height: 70%;
                        @include flexbox();
                        @include justify-content(center);

                        img {
                            width: 60px;
                            height: 60px;
                            display: block;
                            text-align: center;
                        }
                    }

                    b {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }
        }
        div.contus{
          margin-top:10px;
          width:100%;
          height:38px;
          background:#fff;
          @include flexbox();
          @include flex-direction(row);
          div{
            width:50%;
            height:100%;
            &.kefu p,
            &.phone span{
              line-height:38px;
            }
            &.kefu{
                padding-left: 10px;
                font-size: 14px;
            }
              &.phone{
                padding-right: 10px;
                color:#f85b90;
                font-size: 12px;
                @include flexbox();
                @include flex-direction(row);
                @include align-items(center);
                @include justify-content(flex-end);
              }
          }


        }
    }
}
