@charset "utf-8";
@import "../../lib/fragment/yo-dialog";

/**
 * yo-dialog扩展
 */
 @include yo-dialog(
 $name:test
 ){
   button{
     color: $baseColor !important;
   }
   position: absolute;
     left: 50%;
     top: 50%;
     @include transform(translate(-50%, -50%));
 }
