[type=tpl] {
  display: none;
}

$baseColor: #f85b90;
$categoryColor: rgb(235,122,173);
@font-face {
    font-family: 'iconfont';
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    src:url('/images/iconfont/iconfont.woff') format('woff'),
    /* chrome、firefox */
     url('/images/iconfont/iconfont.ttf') format('truetype');
}
@font-face {
    font-family: 'iconfont';
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    src:url('/images/iconfont/iconfont0.woff') format('woff'),
    /* chrome、firefox */
     url('/images/iconfont/iconfont0.ttf') format('truetype');
}
@font-face {
    font-family: 'iconfont';
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    src:url('/images/iconfont/iconfont-menu.woff') format('woff'),
    /* chrome、firefox */
     url('/images/iconfont/iconfont-menu.ttf') format('truetype');
}

.iconfont {
  font-family: iconfont;
}
